<div class="login_page">
  <div class ="listing"><h2>Edit <%= resource_name.to_s.humanize %></h2></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

   <div class="login_email"><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>
   <div class="login_email"><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>
  <div class="login_email"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="login_email"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div class="login_email"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="login_email"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div class ="login_action"><%= f.submit "Update" %></div>
<% end %>

  <div class ="listing"><h3>Cancel my account</h3></div>

  <div class ="login_email"><p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p></div>

<div class="backbtn"><%= link_to "Back", :back %></div>
</div>